:root {
    --componentsColor: #047d95;
    --surfaceColor: #efefef;
    --secondarySurfaceColor: white;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    background-color: var(--surfaceColor);
    height: 95vh;
    font-family: 'Montserrat';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    /* font-size: 2rem;
    font-weight: bolder;
    padding: 2rem 0rem;
    color: var(--componentsColor);
    letter-spacing: 2rem; */

    background-color: var(--componentsColor);
    margin: 2rem 0rem;
    padding: 1rem 1.5rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

span {
    font-weight: bolder;
}

h6 {
    color: white;
}

/******************************************/
/******************************************/

.MuiToolbar-root {
    background-color: var(--componentsColor);
}

.MuiTableContainer-root {
    background-color: var(--secondarySurfaceColor);
}

.MuiTableCell-root {
    border-bottom: 1px solid var(--componentsColor);
    font-family: 'Montserrat';
    color: var(--componentsColor);
    font-size: 1.2rem;
}

.MuiButtonBase-root {
    /* color: white; */
    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.MuiTypography-root {
    font-family: 'Montserrat';
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.MuiCheckbox-root {
    color: var(--componentsColor);
}

.MuiFormLabel-root {
    color: #d7dce1;
}

.MuiButton-root {
    height: 2.5rem;
    background: white;
    margin: 0rem 0.5rem;
    color: var(--componentsColor);
}

.MuiButton-root:hover {
    background: crimson;
    color: white;
}

/******************************************/
/******************************************/

.dashboard {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.artiste-management-table {
    margin-right: 1rem;
}

.action-log-head-container {
    padding: 1rem;
    border-radius: 0rem;
    background: var(--componentsColor);
    display: flex;
    flex-direction: row;
}

.action-log-body-container {
    height: fit-content;
    min-width: 360;
    background-color: var(--secondarySurfaceColor);
}

.action-log-header {
    color: white;
    align-self: center;
    margin-right: 1rem;
}

.sign-out-button {
    background: white;
    align-self: center;
}

.sign-out-button:hover {
    height: 2.5rem;
    font-size: 0.8rem;
    background: crimson;
    color: white;
}

.update-artiste-button:hover {
    background: var(--secondarySurfaceColor);
    color: var(--componentsColor);
}

.text-input-fields {
    color: white;
    border-color: red;
}

/******************************************/
/******************************************/
